@model CarRental.Models.mTest

@{
    ViewData["Title"] = "Test Car Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use the main layout
}


<h1 class="text-center my-5">Welcome to the Test Car Page</h1>
<form asp-action="Index" method="post" enctype="multipart/form-data">
    <!-- Car Name -->
    <div class="col-md-6 mb-3">
        <label asp-for="Name" class="form-label fw-bold">Name</label>
        <input asp-for="Name" class="form-control" placeholder="e.g. Toyota Corolla" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Logo -->
    <div class="col-md-6 mb-3">
        <label asp-for="logo" class="form-label fw-bold">Logo</label>
        <input asp-for="logo" type="file" class="form-control" placeholder="Upload logo URL" />
        <span asp-validation-for="logo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
