
@model CarRental.ViewModel.UserCustomer

<h2>Customer Registration</h2>

<form method="post" class="needs-validation" novalidate>
    <div class="row mb-3">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="FullName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <select asp-for="Gender" class="form-select" ></select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="UserEmail" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="UserEmail" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="LicenseNumber" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="LicenseNumber" class="form-control" />
            <span asp-validation-for="LicenseNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
